button {
  margin: 0;
  padding: var(--padding);
  background: none;
  border: solid 1px;
  border-radius: var(--padding);
  /* transition: all ease 0.5s; */
  cursor: pointer;
}

button:active {
  transform: scale(1.1);
}

button:hover {
  opacity: 0.9;
}

button.success {
  color: white;
  background: var(--green);
}
button.danger {
  color: white;
  background: var(--red);
}
